aiohappyeyeballs==2.6.1
aiohttp==3.11.15
aiosignal==1.3.2
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
filelock==3.13.1
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.6.1
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.8
littleutils==0.2.4
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
multidict==6.3.1
networkx==3.3
numpy==1.26.4
ogb==1.3.6
outdated==0.2.2
packaging==24.2
pandas==2.2.3
pillow==11.0.0
propcache==0.3.1
psutil==7.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.2.2
torch-geometric==2.6.1
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
yarl==1.18.3
